@model Edenrose.Data.EF.Topic
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .footer-add-image .btn {
        float: right;
        height: 31px;
        margin: 0 5px;
        padding: 0 22px;
        font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
        cursor: pointer;
      
    }
</style>
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <h3>Tiện ích</h3>
            <div class="widget-body">
                <hr class="simple">

                <ul id="myTab1" class="nav nav-tabs bordered">
                    <li class="active">
                        <a href="#s1" data-toggle="tab"><i class="fa fa-edit"></i> Mô tả ngắn</a>
                    </li>
                    <li class="">
                        <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-file-image-o"></i> Hình ảnh</a>
                    </li>
                </ul>

                <div id="myTabContent1" class="tab-content padding-10">
                    <div class="tab-pane fade active in" id="s1">
                        <div class="jarviswidget jarviswidget-sortable">
                            <div>
                                @using (Html.BeginForm("Index", "TienIch", FormMethod.Post, new { @id = "addForm", enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(model => model.id)
                                    @Html.HiddenFor(model => model.key)
                                    @Html.HiddenFor(model => model.UpdateDate)
                                    <div class="widget-body no-padding  smart-form">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Nội dung tóm tắt</label>
                                                    <label class="textarea">
                                                        @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", @id = "txtmota", @rows = "4" })
                                                        @Html.ValidationMessageFor(model => model.ShortDescription)
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Ảnh đại diện</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.Picture, new { @class = "form-control", @id = "txtImage", @readonly = "readonly" })
                                                            <span class="input-group-btn">
                                                                <a id="btnSelectImage" class="btn btn-default" style="padding: 7px 12px" href="javascript:void(0);">Chọn</a>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-9" style=" clear:both; margin-top:10px">
                                                        <img src="@Model.Picture" style="max-width: 1200px; max-height: 100px;" id="imgPreview" />
                                                    </div>
                                                </section>
                                            </div>
                                            @*<div class="clearfix"></div>
                                            <footer class="text-center">
                                                <a href="javascript:history.back(-1);" class="btn btn-default">Quay lại</a>
                                                <a href="javascript: void(0);" class="btn btn-primary" onclick="return SubmitForm()">Cập nhật</a>
                                            </footer>*@
                                        </fieldset>
                                    </div>
                                <!-- end widget content -->
                                }
                            </div>
                            <!-- end widget div -->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="s2">
                        <div id="content">
                            <div class="widget-body no-padding  smart-form">
                                <div id="tablePicture">
                                    @Html.Action("GetListPicture", "TienIch")
                                </div>
                                <div style="padding-top: 15px;">
                                    <div class="col col-6">
                                        <div class="row">
                                            <label class="label">Ảnh đại diện</label>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <input class="form-control" id="imageUrl" readonly="readonly" type="text" value="">
                                                    <span class="input-group-btn">
                                                        <a id="btnSelectPicture" class="btn btn-default" style="padding: 7px 12px" href="javascript:void(0);">Chọn</a>
                                                    </span>
                                                    <span class="field-validation-error" style="display:none;" id="valiImageUrl">Vui lòng chọn ảnh</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9" style=" clear:both; margin-top:10px">
                                                <img style="max-width: 1200px; max-height: 100px;" id="picturePreview">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col col-2">
                                            <label class="label">Thứ tự hiển thị</label>
                                            <label class="input">
                                                <input class="form-control" id="ImageDisplayOrder" style="width:80px" type="number" min="0">
                                            </label>
                                    </div>
                                    <div class="col col-3">
                                        <label class="label"></label>
                                        <div class="footer-add-image" style="float: left;padding-top: 18px;">
                                            <a href="javascript: void(0);" class="btn btn-primary" onclick="SaveImage()">Add</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <footer>
                      
                        <a href="javascript: void(0);" class="btn btn-primary" onclick="return SubmitForm()">Cập nhật</a>
                        <a href="javascript:history.back(-1);" class="btn btn-default">Quay lại</a>
                    </footer>
                </div>

            </div>
            <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>

@section Script{
    <script>
        $(document).ready(function () {
            $('.displayorder').change(function () {
                debugger
                var id = $(this).attr('key-id');
                var val = $(this).val();
                
                $.ajax({
                    url: '/Admin/TienIch/UpdateDisplay',
                    type: 'POST',
                    data: {
                        "tmpId": id,
                        "Value": val
                    },
                    success: function (data) {
                        $("#tablePicture").html(data);
                    },
                    error: function (result, text, error) {
                        toastr["error"]("Xảy ra lỗi khi xóa. Anh/chị vui lòng thử lại sau!", "Thông báo");
                    }
                })
            })
        });
        function DeleteImage(id) {
            $.ajax({
                url: '/Admin/TienIch/DeletePicture',
                type: 'POST',
                data: { "tmpId": id },
                success: function (data) {
                    $("#tablePicture").html(data);
                },
                error: function (result, text, error) {
                    toastr["error"]("Xảy ra lỗi khi xóa. Anh/chị vui lòng thử lại sau!", "Thông báo");
                }
            });
        }
        $(document).on('click', '#btnSelectImage', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
                $('#imgPreview').attr("src", url);
            };
            finder.popup();
        });
        $(document).on('click', '#btnSelectPicture', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#imageUrl').val(url);
                $('#picturePreview').attr("src", url);
            };
            finder.popup();
        });

        var editor = CKEDITOR.replace('txtmota', {
            customConfig: '/plugins/ckeditor/config1.js'
        });
        function SubmitForm() {
            if ($('#txtmota').val() == undefined || $('#txtmota').val().trim() == "") {
                toastr["error"]("Vui lòng nhập mô tả ngắn", "Thông báo");
                return false;
            }
            if ($('#txtImage').val() == undefined || $('#txtImage').val().trim() == "") {
                toastr["error"]("Vui lòng chọn ảnh", "Thông báo");
                return false;
            }
            $('#addForm').submit();
        }
        function SaveImage() {
            var imageUrl = $('#imageUrl').val();
            var displayOrder = $('#ImageDisplayOrder').val();
            var picture = {
                Url: imageUrl,
                DisplayOrder: displayOrder
            }
            var isValid = true;

            if (isValid) {
                $.ajax({
                    url: '/Admin/TienIch/AddPicture',
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(picture),
                    success: function (data) {
                        $("#tablePicture").html(data);
                        toastr["success"]("Thêm hình ảnh thành công!", "Thông báo");
                        $('#imageUrl').val('');
                        $('#ImageDisplayOrder').val('');
                        $('#picturePreview').removeAttr('src');
                    },
                    error: function (xhr, status, text) {
                        toastr["error"]("Xảy ra lỗi khi thêm hình ảnh. Vui lòng thử lại.", "Thông báo");
                    }
                })
            }
        }
    </script>
}


