@using Edenrose.Common
@model Edenrose.web.Areas.Admin.Models.ArticlesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<input type="hidden" id="hfDeleteUrl" value="@Url.Action("Delete","Article")" />
<a href="/Admin/BangGiaArticle/Create" title="Create Category" class="btn btn-primary">
    <i class="fa fa-plus fa-lg"></i> Tạo bảng giá
</a>
<br />
<br />
@using (Html.BeginForm("Index", "BangGiaArticle", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="well">
        <div class="form-group">
            <label class="col-md-1 control-label">Tiêu đề bảng giá</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Title, new { @placeholder = "Tiêu đề", @class = "form-control" })
            </div>
            <div class="col-md-2 text-align-center">
                <button class="btn btn-default btn-primary" type="submit">
                    <i class="fa fa-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </div>
}

<section>
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false">
                <header>
                    <div class="jarviswidget-ctrls" role="menu">

                    </div>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Danh sách bảng giá</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th style="width:40px">STT</th>
                                    <th>Ảnh đại diện</th>
                                    <th>Tên</th>
                                    <th>Đường dẫn</th>
                                    <th class="col-md-1" style="text-align:center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.ListData.Count > 0)
                                {
                                    var index = 0;
                                    foreach (var o in Model.ListData)
                                    {
                                        index++;
                                        <tr>
                                            <td>@index</td>
                                            <td><img src="@o.Picture" style="max-width: 100px; max-height: 100px;" /></td>
                                            <td>@o.Title</td>
                                            <td>@o.Url</td>

                                            <td class="col-md-2" style="text-align:center">

                                                @Html.EncodedActionLink("<i class=\"fa fa-edit fa-lg\"></i>", "ViewEdit", "Admin/BangGiaArticle", new { id = o.id }, new
                                           {
                                               @class = "btn btn-primary btn-xs",
                                               title = "Cập nhật bảng giá"
                                           })
                                                <a href="javascript: void(0);" class="btn btn-danger btn-xs" onclick="ShowMessager('@o.id')" title=" xóa tin"><i class="fa fa-trash-o fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="9">Không có bản ghi nào</td></tr>
                                }
                            </tbody>
                        </table>
                        @Html.Raw(Model.GetHtmlPaging)
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>






