<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="~/image/athena-fulland-logo.png" rel="shortcut icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="@Edenrose.web.Global.SessionInfo.Title">
    <meta name="description" content="@Edenrose.web.Global.SessionInfo.Description">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Edenrose.web.Global.SessionInfo.Title">
    <meta property="og:description" content="@Edenrose.web.Global.SessionInfo.Description">
    <meta property="og:url" content="http://edenrosehanoi.vn/">
    <meta property="og:site_name" content="@Edenrose.web.Global.SessionInfo.Title">
    <meta name="google-site-verification" content="_tHHnTxMCDjUhl9-2W5sAM1_Kee8S0yXj9t87tLUIhg" />
    <link rel="alternate" href="http://edenrosehanoi.vn/" hreflang="vi-vn" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/style.css" data-minify="1" type="text/css">
    <link href="~/Content/css/animations.css" data-minify="1" rel="Stylesheet" rev="Stylesheet">
    <link href="~/Content/css/jquery.fancybox.css" data-minify="1" rel="Stylesheet" rev="Stylesheet">
  
    <title>Dự án biệt thự - Shophouse - Liền kề AthenaFulland</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115986985-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-115986985-1');
    </script>
</head>
<body class="home blog">
    <header class="page-header navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div class="logo-wrapper">
                    <div class="logo pull-left">
                        <a href="/" class="logo">
                            <img class="img-responsive" src="@Edenrose.web.Global.SessionInfo.Logo" alt="Dự án Biệt thự liền kề The Eden Rose" title="Dự án Biệt thự liền kề The Eden Rose">
                        </a>
                    </div>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div id="collapseClose" class="collapse navbar-collapse navbar-ex1-collapse" aria-expanded="false">
                    <div class="menu-main-menu-container pull-right">
                        <ul class="nav-menu nav nav-pills pull-left">
                            <li class="nd-scroll"><a href="/#section_about">Tổng quan</a></li>
                            <li class="nd-scroll"><a href="/#section_location">Vị trí</a></li>
                            <li class="nd-scroll"><a href="/#section_utilities">Tiện ích</a></li>
                            <li class="nd-scroll"><a href="/#section_mb">Mặt bằng</a></li>
                            <li class="nd-scroll"><a href="/#section_canho">Sản phẩm</a></li>
                            <li class=""><a href="/tin-tuc/@ViewBag.urlChinhSach">Chính sách</a></li>
                            <li class=""><a href="/tin-tuc/">Tin tức</a></li>
                            <li class="nd-scroll"><a href="/#section_register">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    @RenderBody()
    <div id="section_register">
        <div class="container">
            <div class="inner animatedParent animateOnce">
                <h5 class="title">NHẬN THÔNG TIN DỰ ÁN</h5>
                <div class="col-md-5 col-md-offset-1 block-bg fadeIn   animated delay-500 go">
                    <div class="box-text">
                        <div class="call_sale">Hotline dịch vụ khách hàng</div> <a href="tel:@ViewBag.phone" class="mobile">@ViewBag.phone</a>
                        <p>Vui lòng để lại thông tin, đội ngũ chuyên viên tư vấn của chúng tôi sẽ liên hệ, tư vấn và gửi thông tin cho Quý vị trong thời gian nhanh nhất.</p>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 block-form fadeIn animated delay-500 go">
                    <div class="form-content">
                        <div id="formRegister">
                            <div role="form" class="wpcf7" id="wpcf7-f945-o2" lang="vi" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/?utm_source=GSN&amp;utm_medium=CPC&amp;utm_campaign=EdenRose&amp;utm_term=duan_edenrose&amp;utm_content=duan_edenrose#wpcf7-f945-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <p class="form-group">
                                        <span class="wpcf7-form-control-wrap your-name">
                                            <input type="text" name="your-name" id="txtNameLayout" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Họ và tên*">
                                            <span role="alert" id="txtNameLayoutNoti" style="display: none; color: red;" class="wpcf7-not-valid-tip">Vui lòng nhập họ và tên</span>
                                        </span>
                                    </p>
                                    <p class="form-group">
                                        <span class="wpcf7-form-control-wrap your-email">
                                            <input type="email" name="your-email" id="txtEmailLayout" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email*">
                                            <span role="alert" id="txtEmailLayoutNoti" style="display: none;color: red;" class="wpcf7-not-valid-tip">Vui lòng nhập email.</span>
                                        </span>
                                    </p>
                                    <p class="form-group">
                                        <span class="wpcf7-form-control-wrap your-phone">
                                            <input type="text" id="txtPhoneLayout" name="your-phone" value="" size="40" maxlength="14" minlength="10" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Điện thoại*">
                                            <span role="alert" id="txtPhoneLayoutNoti" style="display: none;color: red;" class="wpcf7-not-valid-tip">Vui lòng nhập số điện thoại.</span>
                                        </span>
                                    </p>
                                    <p class="submit">
                                        <a value="" class="btnformlayout wpcf7-form-control wpcf7-submit btn btn-submit btn-block">Tải file</a>
                                       @* <input type="submit" value="Tải về" class="wpcf7-form-control wpcf7-submit btnform btn btn-submit btn-block"><span class="ajax-loader"></span>*@
                                    </p>
                                    <div class="wpcf7-response-output wpcf7-display-none wpcf7-validation-errors" id="notifiLayout" style="display: none;color: white;" role="alert"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="bg-register"></div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 pull-right">
                    <a class="email" href="#" target="_blank" style="margin-right: 15px;"><i class="fa fa-envelope-o" aria-hidden="true"></i>@ViewBag.email</a> 
                    <a class="email" href="https://www.facebook.com/EDEN-ROSE-Bi%E1%BB%87t-th%E1%BB%B1-song-l%E1%BA%ADp-Nh%C3%A0-v%C6%B0%E1%BB%9Dn-li%E1%BB%81n-k%E1%BB%81-214545902440902" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>Kết nối qua Facebook</a>
                    <a href="tel:@ViewBag.phone" target="_blank" class="mobile"><i class="fa fa-mobile" aria-hidden="true"></i>@ViewBag.phone</a>
                    <a id="gotop" data-link="section_banner" class="logo btn-scroll"> <i class="fa fa-angle-up" aria-hidden="true"></i> TOP </a>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <div class="copy-right">
                        © 2018 Athena Fulland. All Rights Reserved.
                        <div class="clearfix visible-xs visible-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="banner-button">
        <a href="#section_register" class="btn btn-register kanit btn-scroll">
            <div class="btn-text">
                <span class="uppercase">Đăng ký nhận</span>
                <br>Thông tin dự án
            </div>
        </a>
        <a href="tel:@ViewBag.phone" target="_blank" class="btn btn-hotline kanit uppercase">
            <div class="btn-text">
                hotline
                <br><span class="font-500">@ViewBag.phone</span>
            </div>
        </a>
    </div>
    <div id="top"></div>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/js/homepage.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        function validatePhone(txtPhone) {
            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(txtPhone)) {
                return true;
            }
            else {
                return false;
            }
        }
        $(document).ready(function () {
            var isSubmit = false;
            $('.btnformlayout').click(function () {
                $('.btnformlayout').prop('disabled', true);
                var name = $('#txtNameLayout').val();
                if (name == null || name.trim() == "") {
                    $('#txtNameLayoutNoti').show();
                    return false;
                } else {
                    $('#txtNameLayoutNoti').hide();
                }
                var email = $('#txtEmailLayout').val();
                if (email == null || email.trim() == "") {
                    $('#txtEmailLayoutNoti').show();
                    return false;
                } else {
                    $('#txtEmailLayoutNoti').hide();
                }

                var phone = $('#txtPhoneLayout').val();
                if (phone == null || phone.trim() == "") {
                    $('#txtPhoneLayoutNoti').show();
                    return false;
                } else {
                    $('#txtPhoneLayoutNoti').hide();
                }
                if (!validatePhone(phone)) {
                    $('#notifiLayout').text('Vui lòng nhập đúng định dạng số điện thoại');
                    $('#notifiLayout').show();
                    return false;
                } else {
                    $('#notifiLayout').text('');
                }
                if (!isSubmit) {
                    isSubmit = true;
                    window.location = '../TinTuc/Resign?email=' + email + '&phone=' + phone + '&name=' + name;
                    $('#notifiLayout').text('Cảm ơn bạn ' + name + ' đã đăng ký nhận thông tin dự án The Eden Rose. Chúng tôi sẵn sàng phục vụ bạn 24/7')
                    $('#notifiLayout').show();
                    $('.btnformlayout').removeAttr('disabled');
                    $('#txtNameLayout').val('');
                    $('#txtEmailLayout').val('');
                    $('#txtPhoneLayout').val('');
                    isSubmit = false;
                    //$.ajax({
                    //    url: '../TinTuc/Resign',
                    //    type: 'post',
                    //    dataType: 'text',
                    //    data: {
                    //        email: email,
                    //        phone: phone,
                    //        name: name
                    //    },
                    //    success: function (response) {
                    //        $('#notifi').text('Đăng ký nhận thông tin bảng giá thành công!')
                    //        $('#notifi').show();
                    //        $('.btnformlayout').removeAttr('disabled');
                    //        isSubmit = false;
                    //    },
                    //    error: function () {
                    //        $('#notifi').text('Thông tin không hợp lệ. Vui lòng kiểm tra lại!')
                    //        $('#notifi').show();
                    //        $('.btnformlayout').removeAttr('disabled');
                    //        isSubmit = false;
                    //    }
                    //});
                }
              
            });
        });
    </script>
</body>
</html>
